html {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.size-button {
    margin-bottom: 5px;
}

.sketchpad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    border: solid black 1px;
}

.square {
    border: solid black 1px;
}

.black-square {
    background-color: black;
}